<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Button Component </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>




<body>

  <!--Side Navigation-->

  <div id="Sidenav" class="sidenav">
      <a href="#">Guidelines</a>
      <a href="#">Components</a>

      <!---Use any element to open the sidenav-->
      <span onclick="openNav()">open</span>
  </div>

<!---Page Content-->
<div class = "componentSection">

  <!--Tabular Menu-->
  <div class="ui three item menu">
    <a class="item active">Overview</a>
    <a class="item">Code</a>
    <a class="item">Style</a>
    <a class="item">Usage</a>

  </div>




</div>






  <app-root>

  </app-root>




</body>

</html>

<script>
  fucntion openNav()
  {
    document.getElementById("SideNav").style.width = "250px";

  }



  function closeNav(){
    document.getElementById("SideNav").style.width ="0";
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
