<h1>Demo</h1>
<div class="demo-container">
    <div class="dc-top">
        <div class="dc-showcase">
            <div class="dc-s-content">
                <button>Button</button>
            </div>
        </div>
        <div class="dc-variant">
            <div class="dc-v-header">
                Variant
            </div>

        </div>
        <div class="dc-state">
            <div class="dc-s-header">
                State
            </div>
        </div>
    </div>
    <div class="dc-bottom">
        <div class="dc-code-snippet-container">
            <p class="dc-cs-text">
                &lt;Button<br/> 
                    hasIconOnly <br/>
                    renderIcon=&#123;Add16&#125; <br/>
                    tooltipAlignment="center" <br/>
                    tooltipPosition="bottom" <br/>
                    iconDescription="Button description here" <br/> 
                    /&gt;
            </p>
        </div>
    </div>
</div>
